@import url('https://fonts.googleapis.com/css?family=Domine|Open+Sans');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');

$primary-color: #373535;
$secondary-color: rgb(242, 243, 244);
$nav-background-color: white;
$header-font-family: 'Domine', serif;
$body-font-family: 'Open Sans', sans-serif;

html {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: $primary-color;
    color: $secondary-color;
    font-family: $body-font-family;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
}

main {
    display: flex;
    flex-flow: column nowrap;
    section {
        height: 100vh;
        width: 100vw;
    }
    
    .landing-section {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        object-fit: cover;

        h1, h2 {
            font-family: $header-font-family;
            font-size: 50px;
        }

        img {
            position: absolute;
            width: 100vw;
            height: 100vh;
            opacity: 0.3;
            z-index: -5;
            object-fit: cover;
        }
    }
    .about-section {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        object-fit: cover;

        p {
            width: 70%;
            margin-left: 50px;
        }

        img {
            position: absolute;
            width: 100vw;
            height: 100vh;
            opacity: 0.3;
            z-index: -5;
            object-fit: cover;
        }
    }
    .contact-section {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        object-fit: cover;

        img {
            position: absolute;
            width: 100vw;
            height: 100vh;
            opacity: 0.3;
            z-index: -5;
            object-fit: cover;
        }
        
        form {
            margin-left: 50px;
            
            fieldset {
                padding-top: 20px;
                div {
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    padding: 10px 5px 5px 5px;

                    label {
                        width: 80px;
                    }
                }

                button {
                    background-color: white;
                }
            }
        }
    }
}

.labelsAndInputs {
    display: flex;
    flex-flow: column nowrap;
}


// ************************************
// *      START OF MEDIA QUERIES      *
// ************************************

@media only screen and (min-device-width : 460px) and (max-device-width : 675px) {

    main {
        
        .landing-section {
            flex-flow: column nowrap;
    
            h1, h2 {
                font-size: 30px;
            }
        }
        .contact-section {
            flex-flow: row nowrap;
            
            form {
                width: auto;
                fieldset {
                    padding-top: 20px;
                    div {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        padding: 10px 5px 5px 5px;
    
                        label {
                            width: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 459px) {
    
    main {
        flex-flow: column nowrap;
        
        .landing-section {
            flex-flow: column nowrap;
    
            h1, h2 {
                font-size: 23px;
            }
        }
        .contact-section {
            flex-flow: row nowrap;
            
            form {
                width: auto;
                fieldset {
                    padding-top: 20px;
                    div {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        padding: 5px 5px 5px 5px;
    
                        label {
                            width: 80px;
                        }

                        textarea {
                            width: 190px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-device-width : 100px) and (max-device-width : 320px) {
    
    main {
        
        .landing-section {
            flex-flow: column wrap;
    
            h1, h2 {
                font-size: 18px;
            }
        }
        .contact-section {
            
            form {
                width: auto;
                fieldset {
                    div {
                        flex-flow: column wrap;
                        padding: 0px 50px 0px 0px
                        label {
                            width: 30px;
                        }

                        textarea {
                            width: 175px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }
}